*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

/* resetar estilos */
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

h1{
  font-size: 2rem;
}
/* classes auxiliares */
.centro{
  /* max-width: 1080px; */
  padding: 20px 2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  background-color: #066efd;
  color: #ecf0f1;
  padding: 20px;
  position: fixed;
}

.sidebar h2 {
  text-align: center;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
}

.sidebar nav ul li a.active {
  font-weight: bold;
}

/* Ajuste global da aplicação */
.app {
  display: flex;
  width: 100%;
}

/* Conteúdo principal */
.content {
  flex-grow: 1;
  margin-left: 60px; /* Sidebar fechada */
  /* padding: 20px; */
  transition: margin-left 0.3s ease-in-out;
  width: calc(100% - 60px);
}

/* Quando a sidebar está aberta */
.content-expanded {
  margin-left: 250px;
  width: calc(100% - 250px);
}


.fade{
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity .15s linear;
}

.fade.modal-form.modal.show {
  padding-left: 0!important;
}
.modal-dialog{
  display: flex;
  justify-content: center;
}

.modal-content{
  padding: 10px;
  width: 100%;
  margin: 20px;
  max-width: 768px;
  background-color: white;
}

.modal-header{
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modal-title .h4{
  text-align: center;
  font-size: 2em;
}

/* inicio componente inserir */ 
.Inserir{
  padding: 0 0.5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Inserir h1{
  text-align: center;
  margin: 0!important;
}



.Inserir form.d-flex{
  display: flex;
  flex-direction: column;
  margin: 0 auto!important;
  width: 100%;
}

.table{
  margin: 10px 0;
  border-bottom: 1px solid #dee2e6;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr th{  
  text-align: center;
  vertical-align: middle;
  padding: 4px;
  font-size: 1em;
}


.table tr td{
  text-align: center;
  vertical-align: middle;
  padding: 4px;
  font-size: 0.8em;
}



.d-flex{
  flex-direction: column;
  gap: 20px;
}

.form-group label{
  padding-bottom:3px;
  text-align: left!important;
  font-weight: 500;
}
.Inserir .form-group{
  display: flex;
  flex-direction: column;
}

.form-group input{
  height: 40px;
  padding-left: 10px;
  outline: none;
}

.Inserir button.btn{
  height: 40px;
  background-color: rgb(52, 201, 52);
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
}

/* fim componente inserir */ 

h4{
  text-align: center!important;
  font-size: 1.2em;
}

/* inicio componente listar */ 
.modal-form{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.componenteListar{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tab{
  display: flex;
}
.tab-button {
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.tab-button:nth-of-type(1n){
  background-color: #ff00001a;
  border-color: red;
  border-radius: 15px 5px 5px 5px;
  color: red;
}
.tab-button:nth-of-type(2n){
  background-color: #00ff021a;
  border-color: green;
  border-radius: 5px 15px 5px 5px;
  color: green;
}

.tabs .btn-primary{
  border-radius: 5px 15px 5px 5px;
}

.tab-button.active {
  font-weight: bold;
}

.gastos, .ganhos{
  width: 100%;
  display: flex;
  gap: 20px;
}

.List__gastos, .List__ganhos{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
}

.List__gastos{
  border: 1px solid red;
}

.List__ganhos{
  border: 1px solid green;
}

.List__ganhos, .grafico-ganhos{
  box-shadow: 0px 0px 20px 5px #00ff027a;
    background-color: #00ff021a !important;
}

.List__ganhos h4,h5{
  background-color:transparent!important;
}


.List__gastos h4,h5{
  background-color:transparent!important;
}

.grafico-ganhos{
  width: 50%;
  box-shadow: 0px 0px 20px 5px #00ff027a;
  background-color: #00ff021a !important;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
}

.grafico-gastos{
  width: 50%;
  box-shadow: 0px 0px 20px 5px #ff00007a;
  background-color: #ff00001a !important;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
}

.List__gastos, .grafico-gastos{
  box-shadow: 0px 0px 20px 5px #ff00007a;
  background-color: #ff00001a !important;
}

.List .table{
  text-align: center;
}

.table>:not(caption)>*>*{
  background-color: transparent!important;
}

.List .mt-5{
  margin: 0!important;
  padding: 2px 0 ;
}

.List__ganhos,.List__gastos{
  background-color:transparent;
  padding: 10px;
  border-radius: 5px;
  max-width: 768px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 0;
    top: 50%;
    left: 50%;
    background-color: white;
}
.form-group {
  display: flex;
  flex-direction: column;
}

.form-label{
  margin: 0;
}

.form-input{
  width: 100%!important;
  height: 40px;
  outline: none;
}

.form .btn{
  margin-top: 10px;
}



td:last-of-type {
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: column; */
  gap: 5px;
}
.btn-warning {
  background-color: #ffd86494!important;
  border-color: #ffe600!important;
}
.btn-warning:hover{
  background-color: #ffe600!important;
}

.btn-danger{
  padding: 6px 12px;
  border: 0;
  background-color: #ff253a40;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
  cursor: pointer;
}

svg.svg-inline--fa.fa-trash-can{
  color: white;

}
.btn-danger:hover{
  background-color: #ff0019b7;
  border: 1px solid red;
}

.List__gastos h5{
  /*padding-top: 15.5px;*/
}

.List__ganhos h5,.List__gastos h5{
  margin: 0;
}

.total-categoria{
  text-align: center;
}


/* fim componente listar */ 

/* inicio componente editar */ 
.componenteEditar .modal{
  display: none;
}
.componenteEditar form{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color:transparent;
  padding: none;
  border-radius: none;
  box-shadow: none;
  margin: none;
  max-width: 768px;
  text-align: left;
}

.componenteEditar .d-flex{
  margin: 0!important;
  gap: 20px!important;
  padding: 0;
}

.componenteEditar .mt-5{
  margin: 10px 0;
}


button.close{
  padding: 4px 6px 2px 6px;
  border: 0;
  background-color: #dc3545;
  color: white;
  font-weight: 700;
}

/* fim componente listar */ 


@media screen and (max-width: 480px) {
  .table tr th, .table tr td{
    padding: 4px;
  }

  .table th{
    font-size: 0.8em;
  }
  .table td{
    font-size: 0.8em;
  }

  .componenteEditar .d-flex,.Inserir .d-flex{
    gap: 12.5px!important;
  }
}
@media screen and (max-width: 768px) {

  .List{
    width: 90%;
  }

  .gastos {
    flex-direction: column;
  }

  .List__gastos, .grafico-gastos {
    width: 100%;
  }

  .ganhos {
    flex-direction: column;
  }

  .List__ganhos, .grafico-ganhos {
    width: 100%;
  }
}

