*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

/* classes auxiliares */
.centro{
  /* max-width: 1080px; */
  padding: 20px 2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

/* inicio componente inserir */ 
.Inserir{
  padding: 0 0.5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Inserir h1{
  text-align: center;
  margin: 0!important;
}



.Inserir form.d-flex{
  display: flex;
  flex-direction: column;
  margin: 0 auto!important;
  width: 100%;
}

.table{
  max-width: 768px;
  margin: auto 10px auto 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.table tr th, .table tr td{
  vertical-align: middle;
  padding: 4px;
  font-size: 0.8em;
}



.d-flex{
  flex-direction: column;
  gap: 20px;
}

.form-group label{
  padding-bottom:3px;
  text-align: left!important;
  font-weight: 500;
}
.Inserir .form-group{
  display: flex;
  flex-direction: column;
}

.form-group input{
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
}

.Inserir button.btn{
  height: 40px;
  background-color: rgb(52, 201, 52);
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
}

/* fim componente inserir */ 

h4{
  text-align: center;
  margin: 0!important;
  font-size: 1.2em;
}

/* inicio componente listar */ 
.form{
  border: 1px solid black;
}
.List{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tab{
  display: flex;
}
.tab-button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.tab-button:nth-of-type(1n){
  background-color: #00ff021a;
  border-color: green;
  color: green;
}

.tab-button:nth-of-type(2n){
  background-color: #ff00001a;
  border-color: red;
  color: red;
}

.tab-button.active {
  font-weight: bold;
}

.content {
  padding-top: 20px;
}


.gastos, .ganhos{
  width: 100%;
  display: flex;
  gap: 20px;
}

.List__gastos, .List__ganhos{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
}

.List__gastos{
  border: 1px solid red;
}

.List__ganhos{
  border: 1px solid green;
}

.List__ganhos, .grafico-ganhos{
  box-shadow: 0px 0px 20px 5px #00ff027a;
    background-color: #00ff021a !important;
}

.List__ganhos h4,h5{
  background-color:transparent!important;
}


.List__gastos h4,h5{
  background-color:transparent!important;
}

.grafico-ganhos{
  width: 50%;
  box-shadow: 0px 0px 20px 5px #00ff027a;
  background-color: #00ff021a !important;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
}

.grafico-gastos{
  width: 50%;
  box-shadow: 0px 0px 20px 5px #ff00007a;
  background-color: #ff00001a !important;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
}

.List__gastos, .grafico-gastos{
  box-shadow: 0px 0px 20px 5px #ff00007a;
  background-color: #ff00001a !important;
}

.List .table{
  text-align: center;
}

.table>:not(caption)>*>*{
  background-color: transparent!important;
}

.List .mt-5{
  margin: 0!important;
  padding: 2px 0 ;
}

.List__ganhos,.List__gastos{
  background-color:transparent;
  padding: 10px;
  border-radius: 5px;
  max-width: 768px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0;
}
.form-label{
  margin: 0;
}





.btn-warning {
  background-color: #ffd86494!important;
  border-color: #ffe600!important;
}
.btn-warning:hover{
  background-color: #ffe600!important;
}

.btn-danger{
  padding: 6px 12px;
  border: 0;
  background-color: #ff253a40;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
  cursor: pointer;
}

svg.svg-inline--fa.fa-trash-can{
  color: white;

}
.btn-danger:hover{
  background-color: #ff0019b7;
  border: 1px solid red;
}

.List__gastos h5{
  /*padding-top: 15.5px;*/
}

.List__ganhos h5,.List__gastos h5{
  margin: 0;
}


/* fim componente listar */ 

/* inicio componente editar */ 
.Editar{
  /*display: none;*/
}
.Editar form{
  background-color:transparent;
  padding: none;
  border-radius: none;
  box-shadow: none;
  margin: none;
  max-width: 768px;
  text-align: left;
}

.Editar .d-flex{
  margin: 0!important;
  gap: 20px!important;
  padding: 0;
}

.Editar .mt-5{
  margin: 10px 0;
}


button.close{
  padding: 4px 6px 2px 6px;
  border: 0;
  background-color: #dc3545;
  color: white;
  font-weight: 700;
}

/* fim componente listar */ 


@media screen and (max-width: 480px) {
  .table tr th, .table tr td{
    padding: 4px;
  }

  .table th{
    font-size: 0.8em;
  }
  .table td{
    font-size: 0.8em;
  }

  .Editar .d-flex,.Inserir .d-flex{
    gap: 12.5px!important;
  }
}
@media screen and (max-width: 768px) {

  .List{
    width: 90%;
  }

  .gastos {
    flex-direction: column;
  }

  .List__gastos, .grafico-gastos {
    width: 100%;
  }

  .ganhos {
    flex-direction: column;
  }

  .List__ganhos, .grafico-ganhos {
    width: 100%;
  }
}