*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

/* classes auxiliares */
.centro{
  /* max-width: 1080px; */
  padding: 20px 2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

/* inicio componente inserir */ 
.Inserir{
  padding: 0 0.5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Inserir h1{
  text-align: center;
  margin: 0!important;
}



.Inserir form.d-flex{
  display: flex;
  flex-direction: column;
  margin: 0 auto!important;
  width: 100%;
}

.table{
  max-width: 768px;
  margin: auto 10px auto 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.table tr th, .table tr td{
  vertical-align: middle;
  padding: 4px;
}



.d-flex{
  flex-direction: column;
  gap: 20px;
}

.form-group label{
  padding-bottom:3px;
  text-align: left!important;
  font-weight: 500;
}
.Inserir .form-group{
  display: flex;
  flex-direction: column;
}

.form-group input{
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
}

.Inserir button.btn{
  height: 40px;
  background-color: rgb(52, 201, 52);
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
}

/* fim componente inserir */ 

h3,h5{
  text-align: center;
  background-color: white;
  margin: 0!important;
}
h4{
  margin: 0;
}

/* inicio componente listar */ 

.List{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.List .table{
  max-width: 350px;
  text-align: center;
}

.List .mt-5{
  margin: 0!important;
  padding: 2px 0 ;
}

form,.List__ganhos,.List__gastos{
  background-color:transparent;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 1px 20px 1px #ccc;
  margin: 0 5px 1rem 5px;
  max-width: 768px;
}

.List__ganhos,.List__gastos{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
}

.btn-warning {
  background-color: #ffd86494!important;
  border-color: #ffe600!important;
}
.btn-warning:hover{
  background-color: #ffe600!important;
}

.btn-danger{
  padding: 6px 12px;
  border: 0;
  background-color: #ff253a40;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
  cursor: pointer;
}

svg.svg-inline--fa.fa-trash-can{
  color: white;

}
.btn-danger:hover{
  background-color: #ff0019b7;
  border: 1px solid red;
}

.List__gastos h5{
  /*padding-top: 15.5px;*/
}

.List__ganhos h5,.List__gastos h5{
  margin: 0;
}


/* fim componente listar */ 

/* inicio componente editar */ 
.Editar{
  /*display: none;*/
}
.Editar form{
  background-color:transparent;
  padding: none;
  border-radius: none;
  box-shadow: none;
  margin: none;
  max-width: 768px;
  text-align: left;
}

.Editar .d-flex{
  margin: 0!important;
  gap: 20px!important;
  padding: 0;
}

.Editar .mt-5{
  margin: 10px 0;
}


button.close{
  padding: 4px 6px 2px 6px;
  border: 0;
  background-color: #dc3545;
  color: white;
  font-weight: 700;
}

/* fim componente listar */ 


@media screen and (max-width: 480px) {
  .table tr th, .table tr td{
    padding: 4px;
  }

  .table th{
    font-size: 0.8em;
  }
  .table td{
    font-size: 0.8em;
  }

  .Editar .d-flex,.Inserir .d-flex{
    gap: 12.5px!important;
  }
}

@media screen and (max-width: 767px) {
  .List{
    flex-direction: column;
    margin: 0;
  }

  .List__ganhos,.List__gastos{
    align-self: auto;
  }
  
  .List .table{
    max-width: 768px;
    width: 100%;
  }

  .List__gastos h5{
    padding-top: 0;
  }
  
}